body{
  padding:0px;
  margin:0px;
  width:100vw;
  height:100vh;
  overflow:hidden;
  min-height:100vh;
  background-color:black;
}
video{
  width:25vw;
  height:calc(50vh - 20px);
  position:relative;
  display:inline-block;
  margin:0px;
  padding:0px;
}

#handsClientMessage{
  display:none;
  color:white;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  font-weight:bold;
  margin-top:45%;
  font-size:60pt;
}

.headVideo{
  position:absolute;
  left:0px;
}

.handsVideo{
  position:absolute;
  left:0px;
}

#offsetter{
  margin-top:100vh;
}

#cover{
  display:none;
  position:absolute;
  width:100vw;
  height:100vh;
  background-color:#CECECE;
  top:0;
  left:0;
  z-index:1;
}

.userColumn{
  width:25vw;
  padding:0px;
  margin:0px;
  overflow-x:hidden;
  min-height:100vh;
  position:absolute;
  top:0px;
}

.userColumn p{
  font-size:18pt;
  padding:0px;
  position:absolute;
  margin:0px;
  left:10px;
  top:10px;
}

.userBox{
  width:25vw;
  height:calc(50vh - 20px);
  position:absolute;
  display:inline-block;
  background-color:rgba(190,190,190,0.8);
  background-position:center;
  background-repeat:no-repeat;
  margin:0px;
  padding:0px;
  overflow:hidden;
}

.userBox-head{
  top:40px;
  background-image:url("images/user.svg");
}

.userBox-hands{
  top:calc(50vh + 20px);
  background-image:url("images/hands.svg");
}

#user1{
  background-color:#AA3939;
  color:#550000;
  left:0vw;
}

#user2{
  background-color:#AA6339;
  color:#552700;
  left:25vw;
}

#user3{
  background-color:#226666;
  color:#003333;
  left:50vw;
}

#user4{
  background-color:#2D882D;
  color:#004400;
  left:75vw;
}

#callControls{
  /*background-color:#CECECE;*/
  height:auto;
  position:fixed;
  text-align:center;
  opacity:0.5;
  bottom:20px;
  left:50%;
  transform:translateX(-50%);
  transition: opacity 0.5s;
}

#callControls:hover{
  opacity:1.0;
}

.controlButton{
  width:70px;
  height:70px;
  position:relative;
  border-radius:50%;
  background-color:#4AA0C7;
  border:3px solid black;
  display:inline-block;
  overflow:hidden;
  margin-left:10px;
  margin-right:10px;
}

.controlButton img{
  height:35px;
  margin-top:18px;
}

#controlCall{
  background-color:#AA3939;
}

#controlSettings{
  width:35px;
  height:35px;
  background-color:#CECECE;
}

#controlSettings img{
  margin-top:0px;
}

#settingsBack{
  width:100vw;
  height:100vh;
  position:fixed;
  top:0px;
  left:0px;
  background-color:rgba(200,200,200,0.8);
  z-index:1;
  text-align: center;
  display:none;
}

#settingsBox{
  margin-left:auto;
  margin-right:auto;
  background-color:white;
  border-radius: 10px;
  padding:30px;
  width:400px;
  text-align: left;
  position:fixed;
  bottom:50%;
  transform:translateY(-50%);
  left:50%;
  transform:translateX(-50%);
}
